<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eliminar transferencia</title>
</head>
<body>
<form method="post" th:action="@{/transferencia/admin/borrar}" th:object="${transferencia}">
    <h2>¿Deseas eliminar esta transferencia?</h2>
    <label>Cuenta origen:</label><span th:text="*{cuentaOrigenId}"></span>
    <br>
    <label>Nombre beneficiario:</label><span th:text="*{nombreBeneficiario}"></span>
    <br>
    <label>Iban destino:</label><span th:text="*{ibanDestino}"></span>
    <br>
    <label>Importe:</label><span th:text="*{importe}"></span>€
    <br>
    <button>Borrar definitivamente</button>
</form>
</body>
</html>