<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/transferencia/admin/editar}" th:object="${transferencia}">
    <label>Cuenta origen:</label>
    <input th:field="*{cuentaOrigenId}">
    <br>
    <label>Nombre beneficiario:</label>
    <input th:field="*{nombreBeneficiario}">
    <br>
    <label>Iban destino:</label>
    <input th:field="*{ibanDestino}">
    <br>
    <label>importe:</label>
    <input th:field="*{importe}">
    <br>
    <label>Concepto:</label>
    <input th:field="*{concepto}">
    <br>
    <label>Fecha Programada:</label>
    <input type="datetime-local" th:field="*{fechaProgramada}">
    <br>
    <label>Fecha creación:</label>
    <input type="datetime-local" th:field="*{fechaCreacion}">
    <br>
    <label>Estado: </label>
    <input th:field="*{estado}">
    <br>
    <button>Editar</button>
</form>

</body>
</html>