<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paso 1 - nueva transferencia</title>
</head>
<body>
    <h2>PASO 1 – NUEVA TRANSFERENCIA</h2>
    <hr>
    <form method="post" th:action="@{/transferencia/paso1}" th:object="${paso1DTO}">
        <label>Elija la cuenta de origen: </label>
        <select th:field="*{cuentaOrigenId}" id="cuentaOrigenId">
            <option value="">Selecciona la cuenta</option>
            <option th:each="cuenta : ${cuentas}" th:value="${cuenta.id}" th:text="${cuenta.iban}"></option>
        </select>
        <div th:if="${#fields.hasErrors('cuentaOrigenId')}" th:errors="*{cuentaOrigenId}"></div>

        <br>

        <label>Nombre beneficiario: </label>
        <input th:field="*{nombreBeneficiario}">
        <div th:if="${#fields.hasErrors('nombreBeneficiario')}" th:errors="*{nombreBeneficiario}"></div>

        <br>

        <label>Iban destinatario (con espacios): </label>
        <input type="text" th:field="*{ibanDestino}">
        <div th:if="${#fields.hasErrors('ibanDestino')}" th:errors="*{ibanDestino}"></div>

        <br>

        <label>Importe:</label>
        <input th:field="*{importe}" id="importe">
        <div th:if="${#fields.hasErrors('importe')}" th:errors="*{importe}"></div>

        <br>

        <label>Concepto:</label>
        <input type="text" th:field="*{concepto}" >
        <div th:if="${#fields.hasErrors('concepto')}" th:errors="*{concepto}"></div>

        <br>

        <label>Fecha Programada: </label>
        <input type="datetime-local" th:field="*{fechaProgramada}" id="fechaProgramada">
        <div th:if="${#fields.hasErrors('fechaProgramada')}" th:errors="*{fechaProgramada}"></div>

        <br>

        <button>Siguiente</button>
    </form>
</body>
</html>