<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paso 2 - Resumen de Transferencia</title>
</head>
<body>
<h2>PASO 2 – RESUMEN DE TRANSFERENCIA</h2>
<hr>
<form method="post" th:action="@{/transferencia/paso2}" th:object="${paso2DTO}">
    <h1>Resumen de la transferencia</h1>
    <label>Cuenta Origen:</label><span th:text="${cuentaOrigen.iban}"></span>
    <br>
    <label>Beneficiario:</label><span th:text="${transferencia.nombreBeneficiario}"></span>
    <br>
    <label>Iban de destino:</label><span th:text="${transferencia.ibanDestino}"></span>
    <br>
    <label>Importe:</label><span th:text="${transferencia.importe} + '€'"></span>
    <br>
    <label>Concepto:</label><span th:text="${transferencia.concepto}"></span>
    <br>
    <label>Fecha programada</label><span th:text="${transferencia.fechaProgramada}"></span>
    <br>
    <label>Verificacion de seguridad</label>
    <br>
    <label>Introduce el codigo</label>
    <br>
    <input type="password" th:field="*{codigo}" id="codigo" name="codigo">
    <div th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
    <a th:href="@{/transferencia/paso1}"><button type="button">Volver al paso 1</button></a>
    <button>Confirmar</button>
</form>
</body>
</html>